<list>
  <database>
    <alias>ECLUB Postgres Localhost</alias>
    <url>jdbc:postgresql://localhost:5432/ECLUB2</url>
    <driver>org.postgresql.Driver</driver>
    <userid>eclub2</userid>
    <password>secret</password>
  </database>

 <database>
    <alias>TEST2 bigmama</alias>
    <url>jdbc:oracle:thin:@192.168.146.236:1521:TEST2</url>
    <driver>oracle.jdbc.OracleDriver</driver>
    <userid>eclub2</userid>
    <password>secret</password>
  </database>

</list>
